@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); .nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 20px;
}

html, body {
  height:100%;
}


body {
  margin:0;
  background:#3498db;
  font-size:1.4em;
  color:#333;
  font-family:'Nanum Gothic', sans-serif;
  text-align: center;
}

section {
  float:left;
  width:100%;
  background:#fff;
  position:relative;
  box-shadow:0 0 5px 0px #333;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}


/* the important styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

  input[type="submit"].icon,
  input[type="reset"].icon,
  input[type="button"].icon,
  button.icon,
  .button.icon {
    padding-left: 1.35em;
  }

    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
      margin-right: 0.5em;
    }

  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
  }

  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.8em;
  }

  input[type="submit"].big,
  input[type="reset"].big,
  input[type="button"].big,
  button.big,
  .button.big {
    font-size: 1.35em;
  }

  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
  }

  @media screen and (max-width: 480px) {

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      padding: 0;
      width: 100%;
    }

  }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #3498db;
  color: #fff !important;
}

  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: #4aa3df;
  }

  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: #258cd1;
  }

  input[type="submit"].alt,
  input[type="reset"].alt,
  input[type="button"].alt,
  button.alt,
  .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    color: #000 !important;
  }

    input[type="submit"].alt:hover,
    input[type="reset"].alt:hover,
    input[type="button"].alt:hover,
    button.alt:hover,
    .button.alt:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    input[type="submit"].alt:active,
    input[type="reset"].alt:active,
    input[type="button"].alt:active,
    button.alt:active,
    .button.alt:active {
      background-color: rgba(0, 0, 0, 0.15);
    }

    input[type="submit"].alt.icon:before,
    input[type="reset"].alt.icon:before,
    input[type="button"].alt.icon:before,
    button.alt.icon:before,
    .button.alt.icon:before {
      color: #bfbfbf;
    }

  input[type="submit"].special,
  input[type="reset"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-color: #fafafa;
    color: #000 !important;
  }

    input[type="submit"].special:hover,
    input[type="reset"].special:hover,
    input[type="button"].special:hover,
    button.special:hover,
    .button.special:hover {
      background-color: white;
    }

    input[type="submit"].special:active,
    input[type="reset"].special:active,
    input[type="button"].special:active,
    button.special:active,
    .button.special:active {
      background-color: #ededed;
    }

.imageround img {
  border-radius: 50%;
  display: flex;
}

.imageround {
  height: 100%;
}
.section2 {
  text-align: center;
}

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }





/*  this is the unimportant CSS used just to layout the content  */



header {
  float:left;
  width:100%;
  padding:2em 4em;
  color:#fff;
  height:calc(70% - 3em);
}

header h1 {
  margin:0;
}
header h3 {
  margin:0;
  color: #80dcee ;
}

header a {
  font-style: oblique;
  font-weight: bolder;
  color: red;
  opacity:0.5;
  text-decoration:none;
}

header a:hover {
  color:#333;
  opacity:1;
}


.content {
  float:left;
  width:70%;
  margin:0 15%;
  padding:2em 0;
}

h1 {
  font-family:'Maven Pro', sans-serif;
  font-weight:300;
  font-size:2.4em;
}

h2, h3 {
  font-family:'Maven Pro', sans-serif;
  font-weight:300;
  font-size:1.5em;
  margin-top:2em;
}

pre {
  background:#ededed;
  padding:1em;
}

p {
  color:#555;
  font-size:0.9em;
}

p a {
  color:#14b5d1;
  text-decoration:none;
}
